.flv-player-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    .flv-player-container {
        overflow: hidden;
        .video-box {
            overflow: hidden;
            .video-ele {
                width: 100%;
                height: 100%;
            }
        }
    }
    .flv-player-count-bar {
        padding: 10px;
        .window-count-change-container {
            overflow: hidden;
            .window-count-change-btn {
                padding: 4px 10px;
                border: 1px solid skyblue;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }
}